.add-player-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(16, 20, 26, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(132, 0, 255, 0.3);
  color: #fff;
  transition: transform 0.25s ease, box-shadow 0.25s ease,;
}

.add-player-container:hover {
  transform:  scale(1.02);
  box-shadow: 0 4px 15px rgba(132, 0, 255, 0.3);
  background-color: rgba(16, 20, 26, 0.95);
}

.add-player-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 12px rgba(132, 0, 255, 0.5);
}

.add-player-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 0.3rem;
}

.form-row.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-row input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 12px;
  border: 1px solid #555;
  background-color: #1c1c22;
  color: #fff;
  font-size: 14px;
  transition: border 0.2s, box-shadow 0.2s;

}

.form-row input:focus {
  outline: none;
  background-color: #1c1c2287;
  box-shadow: 0 0 8px rgba(132, 0, 255, 0.5);
}

.form-row input:hover {
  transform: translateY(-2px) scale(1.01);
}


.add-player-form button {
  padding: 0.8rem;
  background-color: #8400ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
}

.add-player-form button:hover {
  background-color: rgb(161, 79, 255);
  box-shadow: 0 0 15px rgba(132, 0, 255, 0.5);
}
.svg-button-wrapper {
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 1rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
  border-radius: 12px;
}

.svg-shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: #8400ff;
  stroke-width: 5px;
  transition: stroke-width 0.5s ease, stroke-dashoffset 0.5s ease, stroke-dasharray 0.5s ease;
  border-radius: 12px;
}

.svg-text {
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  pointer-events: none;
}

.svg-button-wrapper:hover .svg-shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-button-wrapper:hover {
  background-color: rgba(132, 0, 255, 0.2);
  transition: 0.5s;
  transform: scale(1.05);
}


