


.btn {
  border: none;
  width: 11.5em;
  height: 3.5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: 18px; 
  user-select: none;
}


.btn:hover {
  background: linear-gradient(90deg, #a14fff, #8400ffbe);
  box-shadow: 0 0 15px #8400ff80, 0 0 30px #a14fff;
  transform: translateY(-2px);
}

.btn svg {
  width: 1.5em;
  height: 1.5em;
  transition: all 300ms ease;
}

.btn:hover svg {
  transform: scale(1.2);
  fill: white;
}


.btn:hover .text {
  color: white;
  text-shadow: 0 0 1px white;

}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #2A262A;
  box-shadow: none;
}

.auto-team-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.prompt-input {
  width: 180%;
  min-height: 80px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}
