.edit-button-wrapper {
  position: absolute;
  top: -12px;
  right: 14px;
  cursor: pointer;
  z-index: 10;
  text-align: center;

}

.edit-button-wrapper svg {
  width: 100%;
  height: 100%;
}

.edit-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.edit-modal {
  background: #1e1e1e;
  padding: 150px;
  border-radius: 16px;
  color: #fff;
  text-align: center;
}

.edit-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.edit-modal-buttons .confirm,
.edit-modal-buttons .cancel {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-modal-buttons .confirm {
  background-color: #4caf50;
  color: white;
}

.edit-modal-buttons .cancel {
  background-color: #f44336;
  color: white;
}

@media (max-width: 480px) {
  .button-wrapper {
    top: -8px;
    right: -10px;
    gap: 3px;
  }

  .edit-button-wrapper {
    width: 16px;
    height: 16px;
  }
}