@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.variable-proximity {
  font-family: "Roboto Flex", sans-serif;
  color: #fff;
  font-size: 56px;
  margin-top: 2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 1024px) {
  .variable-proximity {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .variable-proximity {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .variable-proximity {
    font-size: 28px;
  }
}