.map-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: rgba(21, 24, 32, 0.8);
  border-radius: 12px;
  border: 1px solid #392e4e;
    box-shadow: 0 0 25px rgba(104, 53, 221, 0.2),
              inset 0 0 20px rgba(104, 53, 221, 0.1);
  padding: 1rem;
    margin-top: 2rem;

}

.map-svg {
  width: 100%;
  height: 800px;
}

.lane-slot text {
  font-weight: bold;
  font-size: 22px;
  
}

@media (max-width: 1024px) {
  .map-svg {
    height: 600px;
  }
  .lane-slot text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .map-container {
    padding: 0.75rem;
  }
  .map-svg {
    height: 400px;
  }
  .lane-slot text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .map-svg {
    height: 300px;
  }
  .lane-slot text {
    font-size: 14px;
  }
}