.map-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: rgba(21, 24, 32, 0.8);
  border-radius: 12px;
  padding: 1rem;
}

.map-svg {
  width: 100%;
  height: 800px;
}

.lane-slot text {
  font-weight: bold;
  font-size: 22px;
  
}
