.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto 0 auto;
  background-color: rgba(21, 24, 32, 0.8);
  border-radius: 12px;
  border: 1px solid #392e4e;
  box-shadow: 0 0 25px rgba(104, 53, 221, 0.2),
              inset 0 0 20px rgba(104, 53, 221, 0.1);
  padding: 1rem;
  overflow: hidden; 
  position: relative;
}

.map-svg {
  width: 100%;
  height: auto;
  display: block;
  max-height: 800px;
}

.lane-slot text {
  font-weight: bold;
  font-size: 22px;
}

.lane-icon {
  position: absolute; 
  width: 70px;
  height: 70px;
  opacity: 0.25;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
}

@media (max-width: 1024px) {
  .map-svg {
    height: 600px;
  }
  .lane-slot text {
    font-size: 18px;
    }
  .lane-icon {
    width: 50px;
    height: 50px;
  }

}

@media (max-width: 768px) {
  .map-container {
    padding: 0.75rem;
  }
  .map-svg {
    height: 400px;
  }
  .lane-slot text {
    font-size: 16px;
  }
    .lane-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .map-svg {
    height: 300px;
  }
  .lane-slot text {
    font-size: 14px;
  }
    .lane-icon {
    width: 30px;
    height: 30px;
  }
}
