.ranking-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  background-color: rgba(16, 20, 26, 0.9);
  border-radius: 12px;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

.ranking-card h3 {
  margin-bottom: 12px;
  text-align: center;
}

.ranking-card ol {
  margin-top: 0;
  padding-left: 20px;
  align-items: start;
}

.rank-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.rank-1 {
  color: gold;
  font-weight: bold;
}

.rank-2 {
  color: silver;
  font-weight: bold;
}

.rank-3 {
  color: #cd7f32;
  font-weight: bold;
}
