.ranking-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  background-color: rgba(16, 20, 26, 0.9);
  border-radius: 12px;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

.ranking-card h3 {
  margin-bottom: 12px;
  text-align: center;
}

.ranking-card ol {
  margin-top: 0;
  padding-left: 20px;
  align-items: start;
}

.rank-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}

.rank-1 {
  color: gold;
  font-weight: bold;
}

.rank-2 {
  color: silver;
  font-weight: bold;
}

.rank-3 {
  color: #cd7f32;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 20, 26, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background: #10141a;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid #392e4e;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
