.statpage-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
    margin-top: 2rem;

}

.statpage-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}

.statpage-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stat-card {
  position: relative;
  z-index: 2;
  background-color: rgba(16, 20, 26, 0.9);
  border-radius: 15px;
  padding: 1rem;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 15px rgba(132, 0, 255, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(132, 0, 255, 0.5);
}

.player-card-row {
  display: grid;
    grid-template-columns: 60px 120px repeat(5, 1fr); 
  align-items: center;
  gap: 20px;
  margin-left: 2rem;
}

.player-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #8400ff;
}

.player-name h3 {
  margin: 0;
  font-size: 18px;
}

.player-kda,
.player-kda-ratio,
.player-win-loose,
.player-winrate,
.player-playedGames {
  flex: 1;
  white-space: nowrap;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .player-card-row {
    grid-template-columns: 50px 100px repeat(5, 1fr);
    gap: 15px;
    margin-left: 1rem;
  }

  .player-avatar img {
    width: 50px;
    height: 50px;
  }

  .player-name h3 {
    font-size: 16px;
  }

  .player-kda,
  .player-kda-ratio,
  .player-win-loose,
  .player-winrate,
  .player-playedGames {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .player-card-row {
    grid-template-columns: 1fr; 
    gap: 10px;
    margin-left: 0;
  }

  .player-avatar img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
  }

  .player-name h3 {
    font-size: 16px;
    text-align: left;
  }

  .player-kda,
  .player-kda-ratio,
  .player-win-loose,
  .player-winrate,
  .player-playedGames {
    font-size: 14px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .stat-card {
    padding: 0.8rem;
  }

  .player-name h3 {
    font-size: 14px;
  }

  .player-kda,
  .player-kda-ratio,
  .player-win-loose,
  .player-winrate,
  .player-playedGames {
    font-size: 12px;
  }

  .player-avatar img {
    width: 35px;
    height: 35px;
  }
}