.lol-planner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  color: #fff;
}

.test {
  border: 1px solid #392e4e;
  padding: 1rem;
  border-radius: 16px;
  background: radial-gradient(
    circle at center,
    rgba(104, 53, 221, 0.1),
    rgba(20, 24, 35, 0.8)
  );
  box-shadow: 0 0 25px rgba(104, 53, 221, 0.2),
    inset 0 0 20px rgba(104, 53, 221, 0.1);
  backdrop-filter: blur(8px);
}

.pool-area {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.pool-area.center-pool {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 521.2px;
}

.player-headline {
  font-size: 23px;
  margin-top: -2rem;
  margin-bottom: 1em;
}

.pool-list-wrapper {
  width: 100%;
  max-width: 521.5px;
  min-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.pool-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  width: 100%;
  margin-top: 1rem;
}

.player-card {
  background-color: rgb(104, 53, 221, 0.8);
  padding: 8px 16px;
  border-radius: 12px;
  cursor: grab;
  margin: 0 4px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  word-break: break-all;
  max-height: 40px;
  overflow: hidden;
}

.player-card:active {
  cursor: grabbing;
  background-color: rgba(132, 0, 255, 0.6);
}

.player-card:hover {
  transform: scale(1.05);
  background-color: rgba(83, 9, 255, 0.8);
  box-shadow: 0 8px 20px rgba(104, 53, 221, 0.6);
}

.lane-box .player-card {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.teams-area {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.team-column {
  position: absolute;
  width: 13rem;
  background-color: rgba(16, 20, 26, 0.9);
  border-radius: 16px;
  padding: 1rem;
  border: 1px solid #392e4e;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  position: relative;
}

.team-column:hover.red {
  box-shadow: 0 0 20px #ff4d4dcc;
}

.team-column:hover.blue {
  box-shadow: 0 0 20px #4da6ffcc;
}

.team-column h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.team-column.tilt-effect {
  transform-style: preserve-3d;
}

.team-column.tilt-effect .map-grid {
  transition: transform 0.1s ease;
}

.map-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 1rem;
}

.lane-box {
  background-color: rgba(16, 20, 26, 0.8);
  border-radius: 12px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  white-space: nowrap;
  width: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;
}

.lane-box.red {
  border: 1px solid rgba(255, 77, 77, 0.2);
}

.lane-box.blue {
  border: 1px solid rgba(77, 166, 255, 0.2);
}

.lane-box.red:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(255, 77, 77, 0.7);
}

.lane-box.blue:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 15px rgba(77, 166, 255, 0.7);
}

.lane-box h4 {
  margin: 0 0 0.5rem 0;
}

.lane-placeholder {
  color: #888;
  font-size: 0.9rem;
}

.team-column.blue {
  border-color: #4da6ffcc;
}

.team-column.red {
  border-color: #ff4d4dcc;
}

.map-button-wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-start;
}

.clear-map-button {
  position: relative;
  top: -4.9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
  padding: 0.7rem 1rem;
  border-radius: 12px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: #14141466;
  transition: 0.2s ease, transform 0.3s ease;
  z-index: 0;
  overflow: hidden;
}

.clear-map-button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    rgba(77, 166, 255, 0.6) 0%,
    rgba(127, 160, 193, 0.4) 40%,
    rgba(219, 78, 78, 0.4) 70%,
    rgba(255, 77, 77, 0.6) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
}

.clear-map-button:hover {
  background-color: rgb(20, 20, 20, 0.8);
  transform: translateX(-50%) scale(1.05);
}

@media (max-width: 1024px) {
  .map-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .team-column {
    width: 45%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .team-column {
    width: 45%;
    margin-bottom: 1rem;
  }

  .teams-area {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .map-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .lane-box {
    min-height: 70px;
  }

  .player-card {
    font-size: 0.85rem;
    padding: 4px 8px;
  }

  .clear-map-button {
    left: 15.5rem;
    top: 1rem;
    width: 130px;
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {
  .team-column {
    width: 60%;
    margin-bottom: 1rem;
    right: 100px;
  }

  .map-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }

  .lane-box {
    min-height: 60px;
  }

  .pool-list {
    width: 60%;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    margin-right: 9rem;
  }

  .player-card {
    font-size: 0.8rem;
    padding: 3px 6px;
  }

  .clear-map-button {
    left: 9.5rem;
    width: 40%;
    font-size: 0.7rem;
  }
}
