.tipText {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 4px rgba(132, 0, 255, 0.5), 0 0 8px rgba(132, 0, 255, 0.3);
  box-sizing: border-box;
  opacity: 1;
  transition: all 0.3s ease;
}

.tipText.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.tipText.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}

.tipText:hover {
  text-shadow: 0 0 6px rgba(132, 0, 255, 0.7), 0 0 12px rgba(132, 0, 255, 0.5);
  transform: scale(1.03);
}

.tipText-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  overflow: hidden;
  position: relative;
}
